<html>
    <head>
        <title><%= title %></title> 
    </head>
    <body>
        <img style="-webkit-user-select: none; display: block; margin: auto; padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); cursor: zoom-in;" src = <%= src %> > 
    </body>
</html>